*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
button {
  background-color: whitesmoke;
  padding: 10px;
}